<div class="other-resources">
  <div class="subway-map">
    <h1 class="page-title">Other Resources</h1>
    <%= image_tag 'adasubwaymap.jpg' %>
    <p>source: <%=link_to "The MTA’s Accessibility Gap", 'https://subwayrecord.wordpress.com/2015/03/26/the-mtas-accessibility-gap/'%></p>
  </div>

  <div class="resource-links">
    <a><h2 class="mta-resources">MTA Resources</h2></a>
    <ul id="mta-resources", style="display: none;">
      <li><%=link_to 'mta.info | Accessibility','http://web.mta.info/accessibility/'%></li>
      <li><%=link_to 'MTA Guide to Accessible Transit','http://web.mta.info/accessibility/stations.htm'%></li>
      <li><%=link_to 'mta.info | Customer Service Phone Numbers', 'http://web.mta.info/mta/phone.htm'%></li>
      <li><%=link_to 'mta.info | Guide to Access-A-Ride Service', 'http://web.mta.info/nyct/paratran/guide.htm'%></li>
      <li><%=link_to 'MTA Subways Metro Cards', 'http://www.nyc.gov/html/mopd/html/programs/transportation.shtml#mta'%>
      <p>People with qualifying disabilities are eligible for a Half-Fare Reduced-Fare Metro Card</p>
      </li>
    </ul>

    <a><h2 class="nyc-resources">NYC Resources</h2></a>
    <ul id="nyc-resources", style="display: none;">
      <li><%=link_to 'NYC Mayor\'s Office For People with Disabilities', 'http://www.nyc.gov/html/mopd/html/home/home.shtml'%></li>
    </ul>

    <a><h2 class="government-resources">Government Resources</h2></a>
    <ul id="government-resources", style="display: none;">
      <li><%=link_to 'ADA.gov', 'http://www.ada.gov/'%></li>
      <li><%=link_to 'Disability.gov’s Guide to Transportation', 'https://www.disability.gov/resource/disability-govs-guide-transportation/'%></li>
    </ul>

    <a><h2 class ="route-info">Route Information (pdf)</h2></a>
    <ul id ="route-info", style="display: none;">
      <%@route.each do |line|%>
        <%=link_to "#{line.route_id} | #{line.route_long_name}", line.route_url%><br>
    <%end%>
    </ul>
  </div>
</div>