<div class = "single_route_partial", style= "background-color: #<%=line.route_color%>">

  <span class="single-route-header">
    <p><%=line.route_id%> Status: <%=line.service_status%> <%=line.route_long_name%></p>
  </span>

  <div class="single-route-map", style="background-color: white">
    <p> MAP PLACEHOLDER </p>
  </div>

  <span class="single-route-desc">
    <p><%=line.route_desc%></p>
  </span>
<hr>
<end>