<div class = "single_route_partial", style= "background-color: #<%=line.route_color%>">
   <h2><%=line.route_id%> Status: <%=line.service_status%> <%=line.route_long_name%></h2>
    More information: <%=line.route_desc%></br>
<end>