<script type="text/javascript">
  window.stations = <%= @closest_stations.to_json.html_safe %>;
  window.user = <%= @user_location %>
</script>

<div class="routes-page">
<div class="display-container">
  <span class="closest-stations-summary">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration: none;">
              <div id="data-hack" style="display:none"></div>
                <div class="panel-heading">
                    <h4 class="panel-title">

                          <h3 class="stationName1"><%= Station.print_icons(@closest_stations[0]["station"])%> || <%= @closest_stations[0]["station"].name %>|| <%= (@closest_stations[0]["distance"]).round(2) %> miles</h3>

                    </h4>
                </div>
              </a>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                      <div class="station" id="station1Map" ></div>
                      <div id="station1DirectionsPanel"></div>
                      <div id="station1Elevation"></div>

                    </div>
              </div>
            </div>
            <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="text-decoration: none;">
                <div class="panel-heading">
                    <h4 class="panel-title">


                          <h3 class="stationName"><%= Station.print_icons(@closest_stations[1]["station"])%> || <%= @closest_stations[1]["station"].name %>  || <%= (@closest_stations[1]["distance"]).round(2) %> miles</h3>

                    </h4>
                </div>
                </a>

                <div id="collapseTwo" class="panel-collapse collapse">

                    <div class="panel-body">

                                  <div class="station" id="station2Map"></div>
                                  <div id="bensDirectionsPanel"></div>
                                  <div id="bens_elevation_chart"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="text-decoration: none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">

                          <h3 class="stationName"><%= Station.print_icons(@closest_stations[2]["station"])%> || <%= @closest_stations[2]["station"].name %>  || <%= (@closest_stations[2]["distance"]).round(2) %> miles</h3>
                      </h4>
                  </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                          <div class="station" id="station3Map"></div>
                          <div id="station3DirectionsPanel"></div>
                          <div id="station3Elevation"></div>


                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="text-decoration: none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">


                           <h3 class="stationName"><%= Station.print_icons(@closest_stations[3]["station"])%> || <%= @closest_stations[3]["station"].name %>  || <%= (@closest_stations[3]["distance"]).round(2) %> miles</h3>
                      </h4>
                  </div>
               </a>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">

                          <div class="station" id="station4Map"></div>
                          <div id="station4DirectionsPanel"></div>
                          <div id="station4Elevation"></div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">

                          <h3 class="stationName" style="text-decoration: none"><%= Station.print_icons(@closest_stations[4]["station"])%> || <%= @closest_stations[4]["station"].name %>  || <%= (@closest_stations[4]["distance"]).round(2) %> miles</h3>
                      </h4>
                  </div>
                </a>

                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                              <div class="station" id="station5Map"></div>
                              <div id="station5DirectionsPanel"></div>
                              <div id="station5Elevation"></div>
                    </div>
                </div>
            </div>
    </div>
</div>