<!DOCTYPE html>
<html>
<head>
  <title>NYCapable</title>
<!--   // <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script> -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhj6JZdjctXQe4usKeIyGur33v3-Tgglo"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div class="container-fluid">
    <%= image_tag("NYCapableLogo.png", :class => "logoImg") %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><%= link_to "Home", root_path %></li>
        <li role="presentation"><li><%= link_to "Other Resources", other_resources_path %></li>
        <li role="presentation"><%= link_to "About", about_index_path %></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1 col-md-8 col-md-offset-2"><%= yield %></div>
    </div>
  </div>
</body>
</html>
